@media screen and (min-width: 1920px){
.background{
    height: 157vw;

}
.back1_2{
    height: 57.6vw;
}

.piramidka{
    margin-top: -1%;
}

.cup1{
    margin-top: 30%;
}
.cup3{
    margin-top: 24%;
}

.struni_back2{
    height: 27.2vw;
}

.struna_1{
    margin-top: 6%;
}

.krug1{
    margin-top: 12%;

}
.krug2{
    margin-top: 20%;
}

.krug3{
    margin-top: 28%;
}

.krug4{
    margin-top: 36%;
}


.krug5{
    margin-top: 12%;
}

.krug6{
    margin-top: 20%;
}

.krug7{
    margin-top: 28%;
    
}

.krug8{
    margin-top: 36%;
}

.back4{
    height: 57.1vw;
}

.vaze{
    margin-top: 19%;
}


}
@media screen and (min-width: 1440px)and (max-width: 1919px){
    .background{
        height: 157vw;
    }
    .back1_2{
        height: 63.6vw;
    }
    
    .piramidka{
        margin-top: 3%;
    }
    
    .cup1{
        margin-top: 30%;
    }
    .cup3{
        margin-top: 24%;
    }
    
    .struni_back2{
        height: 33.1vw;
    }
    
    .struna_1{
        margin-top: 6%;
    }
    
    .krug1{
        margin-top: 12%;
    
    }
    .krug2{
        margin-top: 20%;
    }
    
    .krug3{
        margin-top: 28%;
    }
    
    .krug4{
        margin-top: 36%;
    }
    
    
    .krug5{
        margin-top: 12%;
    }
    
    .krug6{
        margin-top: 20%;
    }
    
    .krug7{
        margin-top: 28%;
        
    }
    
    .krug8{
        margin-top: 36%;
    }
    
    .back4{
        height: 63vw;
        width: 101%;
    }
    
    .vaze{
        margin-top: 25%;
        width: 35%;
    }

    .soberi{
        width: 21%;
    }

    .flower1_vaze{
        margin-left: 65%;
        margin-top: 15%;
    }
    .flower2_vaze{
        margin-left: 6%;
        margin-top: 15%;
    }
}
@media screen and (min-width: 1366px)and (max-width: 1439px){
    .background{
        height: 157vw;
    }
    .back1_2{
        height: 57.1vw;
    }
    
    .piramidka{
        margin-top: -1%;
    }
    
    .cup1{
        margin-top: 30%;
    }
    .cup3{
        margin-top: 24%;
    }
    
    .struni_back2{
        height: 26.5vw;
    }
    
    .struna_1{
        margin-top: 6%;
    }
    
    .krug1{
        margin-top: 12%;
    
    }
    .krug2{
        margin-top: 20%;
    }
    
    .krug3{
        margin-top: 28%;
    }
    
    .krug4{
        margin-top: 36%;
    }
    
    
    .krug5{
        margin-top: 12%;
    }
    
    .krug6{
        margin-top: 20%;
    }
    
    .krug7{
        margin-top: 28%;
        
    }
    
    .krug8{
        margin-top: 36%;
    }
    
    .back4{
        height: 56.6vw;
        width: 101%;
    }
    
    .vaze{
        margin-top: 17%;
        width: 35%;
    }

    .soberi{
        width: 21%;
    }

    .flower1_vaze{
        margin-left: 65%;
        margin-top: 12%;
    }
    .flower2_vaze{
        margin-left: 6%;
        margin-top: 12%;
    }
}
    

@media screen and (min-width: 1024px)and (max-width: 1365px){
    .background{
        height: 157vw;
    }
    .back1_2{
        height: 75.6vw;
    }
    .background_2{
        height: 78vw;
    }
    
    .piramidka{
        margin-top: 8%;
    }
    
    .cup1{
        margin-top: 38%;
    }
    .cup3{
        margin-top: 38%;
    }
    
    .struni_back2{
        height: 45vw;
    }
    
    .struna_1{
        margin-top: 15%;
        margin-left: 14%;
    }
    
    .krug1{
        margin-top: 21%;
    
    }
    .krug2{
        margin-top: 29%;
    }
    
    .krug3{
        margin-top: 37%;
    }
    
    .krug4{
        margin-top: 45%;
    }
    
    
    .krug5{
        margin-top: 21%;
        margin-left: 81%;
    }
    
    .krug6{
        margin-top: 29%;
        margin-left: 81%;
    }
    
    .krug7{
        margin-top: 37%;
        margin-left: 81%;
        
    }
    
    .krug8{
        margin-top: 45%;
        margin-left: 81%;
    }
    
    .back4{
        height: 80.01vw;
        width: 101%;
        margin-top: -7%;
    }

    .back4_1{
        height: 84vw;
    }
    
    .vaze{
        margin-top: 28%;
        width: 39%;
        margin-left: 30%;
    }

    .soberi{
        width: 21%;
    }

    .flower1_vaze{
        margin-left: 65%;
        margin-top: 12%;
    }
    .flower2_vaze{
        margin-left: 6%;
        margin-top: 12%;
    }
}

@media screen and (min-width: 768px)and (max-width: 1023px){
    .background{
        height: 159vw;
    }
    .initeal{
        font-size: 3vw;
    }
    .tea_zvuka{
        font-size: 3vw;
        margin-left: 70%;
    }
    .text_end{
        font-size: 3vw;
    }

    .white_tea, .green_tea, .black_tea{
        display: none;
    }

    .leaf1{
     width: 30%;
     margin-top: 15%;
    }
    .leaf2{
        width: 30%;
        margin-left: 20%;
    }
    .leaf3{
    width: 22%;
    margin-top: 50%;
    }


    .teapot{
        overflow: hidden;
        height: 32%;
        width: 70%;
        margin-top: 105%;
        margin-left: 14%;
    }

    .teapot_crishka{
     width: 54%;
     margin-left: 34.4%;
     margin-top: 100%;

    }

    .par{
        margin-left: 40%;
        margin-top: 110%;
    }
    

    .back1_2{
        overflow-x: hidden;
        height: 135vw;
        margin-top: -4%;
        width: 102%;
        
    }
    .background_2{
        width: 165%;
       rotate: 90deg;
       margin-left: -39%;
    }
    
    .piramidka{
        margin-top: 12%;
        width: 70%;
        margin-left: 25%;
    }
    
    .cup1{
        margin-top: 68%;
        width: 40%;
        margin-left: 34.5%;
    }
    .cup3{
        width: 43%;
        margin-top: 10%;
        margin-left:25%;
    }

    .cup2{
        width: 34%;
        margin-top: 36%;
        margin-left: 38.5%;
    }

    .cup4{
        width: 34%;
        margin-top: 48%;
        margin-left: 28.5%;
    }
    
    .struni_back2{
        overflow: hidden;
        height: 102.9vw;
        width: 100.7%;
        
    }
    .struni_back_2{
        overflow: hidden;
        width: 121%;
        margin-left: -6%;
    }

    .struni_back1{
        height: 100vw;
        width: 100.7%;
        overflow: hidden;
        
    }
    .struni_back_1{
        margin-top: -15%;
        width: 123%;
        margin-left: -6%;
    }
    
    .struna_1{
        width: 110%;
        margin-top: 25%;
        margin-left: -10%;
        rotate: 90deg;
    }
    
    .krug1{
        margin-top: 2%;
        margin-left: 25%;
        width: 5vw;
        height: 5vw;
        
    
    }
    .krug2{
        margin-top: 2%;
        margin-left: 38%;
        width: 5vw;
        height: 5vw;
    }
    
    .krug3{
        margin-top: 2%;
        margin-left: 51%;
        width: 5vw;
        height: 5vw;
    }
    
    .krug4{
        margin-top: 2%;
        margin-left: 63.5%;
        width: 5vw;
        height: 5vw;
    }
    
    
    .krug5{
        margin-top: 108%;
        margin-left: 25%;
        width: 5vw;
        height: 5vw;
    }
    
    .krug6{
        margin-top: 108%;
        margin-left: 38%;
        width: 5vw;
        height: 5vw;
    }
    
    .krug7{
        margin-top: 108%;
        margin-left: 51%;
        width: 5vw;
        height: 5vw;
        
    }
    
    .krug8{
        margin-top: 108%;
        margin-left: 63.5%;
        width: 5vw;
        height: 5vw;
    }

    .cvetok2{
        width: 18%;
        margin-left: 77%;
        margin-top: -4%;
    }
    
    .back4{
        margin-top: -5%;
        height: 100.8%;
        height: 136vw;
    }

    .back4_1{
        width: 195.7%;
        margin-left: -50%;
       
    }

    .cvetok3{
        width: 18%;
        margin-left: 77%;
        margin-top: -4%;
    }
    
    .vaze{
        margin-top: 60%;
        width: 60%;
        margin-left: 19%;
    }

    .soberi{
        width: 40%;
        margin-top: -4%;
    }

    .text_soberi{
        font-size: 3vw;
    }

    .gotovo{
        margin-top: 7%;
        width: 14%;
    }

    .spasibo{
        width: 26%;
        margin-top: -4%;
    }

    .text_spasibo{
        font-size: 3vw;
    }

    .text_gotovo{
        font-size: 3vw;
    }

    .cvetok1{
        width: 18%;
        margin-left: 77%;
        margin-top: -6%;
    }

    .flower1_vaze{
        width: 40%;
        margin-left: 20%;
        margin-top: 23%;
    }
    .flower2_vaze{
        width: 40%;
        margin-left: 19%;
        margin-top: 22%;
    }
    .flower3_vaze{
        width: 15%;
        margin-left: 40%;
        margin-top: 20%;
    }

    .compoz{
        width: 26%;
        display: none;
    }
    .text_compoz{
        font-size: 3vw;
    }
}
@media screen and (min-width: 414px)and (max-width: 767px){
    .background{
        height: 240vw;
        margin-top: -2%;
    }
    #box{
        height: 100%;
    }
    .shroom{
        width: 153%;
        margin-left: -20%;
        margin-top: -1%;
    }
    .initeal{
        font-size: 4vw;
        margin-left: 4%;
    }
    .tea_zvuka{
        font-size: 4vw;
        margin-left:4%;
        margin-top: 10%;
    }
    .text_end{
        z-index: 2;
        font-size: 4vw;
        margin-top: 223%;
    }

    .white_tea, .green_tea, .black_tea{
        display: none;
    }

    .leaf1{
        overflow: hidden;
     width: 50%;
     margin-top: 10%;
    }
    .leaf2{
        overflow: hidden;
        width: 50%;
        margin-left: 6%;
        top: 10%;
    }
    .leaf3{
        overflow: hidden;
        width: 38%;
        top: 20%;
    }


    .teapot{
        overflow: hidden;
        height: 24%;
        width: 90%;
        margin-top: 180%;
        margin-left: 3%;
    }

    .teapot_crishka{
     width: 66%;
     margin-left: 31%;
     margin-top: 171.8%;

    }

    .par{
        margin-left: 40%;
        margin-top: 184%;
    }
    

    .back1_2{
        overflow-x: hidden;
        height: 220.9vw;
        margin-top: -7%;
        width: 102%;
        
    }
    .background_2{
        overflow: hidden;
        width: 259%;
       rotate: 90deg;
       margin-left: -39%;
       
    }
    
    .piramidka{
        margin-top: 32%;
        width: 80%;
        margin-left: 15%;
    }

    .piramidka_1{
        width: 90%;
    }
    
    .cup1{
        margin-top: 114%;
        width: 58%;
        margin-left: 30%;
    }
    .cup3{
        width: 65%;
        margin-top: 27%;
        margin-left: 14%;
    }

    .cup2{
        width: 49%;
        margin-top: 67%;
        margin-left: 35%;
    }

    .cup4{
        width: 50%;
        margin-top:84%;
        margin-left: 20%;
    }

    .cvetok1{
        width: 90%;
        margin-left: 77%;
        margin-top:-5%;
    }
    
    .struni_back2{
        overflow: hidden;
        height: 185.8vw;
        width: 102%;
        margin-left: -2%;
        
    }
    .struni_back_2{
        overflow: hidden;
        width: 205%;
        margin-left: -42%;
    }

    .struni_back1{
        height: 100vw;
        width: 102%;
        overflow: hidden;
        margin-left: -2%;
        
    }
    .struni_back_1{
        margin-top: -35%;
        width: 150%;
        margin-left: -12%;
    }
    
    .struna_1{
        width: 160%;
        margin-top: 45%;
        margin-left: -35%;
        rotate: 90deg;
    }
    
    .krug1{
        margin-top: 10%;
        margin-left: 16%;
        width: 8vw;
        height: 8vw;
        
    
    }
    .krug2{
        margin-top: 10%;
        margin-left: 34%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug3{
        margin-top: 10%;
        margin-left: 53%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug4{
        margin-top: 10%;
        margin-left: 72%;
        width: 8vw;
        height: 8vw;
    }
    
    
    .krug5{
        margin-top: 168%;
        margin-left: 16%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug6{
        margin-top: 168%;
        margin-left: 34%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug7{
        margin-top: 168%;
        margin-left: 53%;
        width: 8vw;
        height: 8vw;
        
    }
    
    .krug8{
        margin-top: 168%;
        margin-left: 72%;
        width: 8vw;
        height: 8vw;
    }

    .cvetok2{
        width: 24%;
        margin-left: 71%;
        margin-top: -7%;
    }
    
    .back4{
        overflow: hidden;
        margin-top: -7%;
        margin-left: -2%;
        height: 220.5vw;
        width: 101.5%;
    }

    .back4_1{
        overflow: hidden;
        width: 335%;
        margin-left: -40%;
       
    }

    .cvetok3{
        width: 24%;
        margin-left: 71%;
        margin-top:-6%;
    }
    
    .vaze{
        margin-top: 120%;
        width: 88%;
        margin-left: 7%;
    }

    .soberi{
        width: 58%;
        margin-top: -8%;
    }

    .text_soberi{
        font-size: 4vw;
    }

    .gotovo{
        margin-top: 9%;
        width: 20%;
    }

    .spasibo{
        width: 34%;
        margin-top: -8%;
    }

    .text_spasibo{
        font-size: 4vw;
    }

    .text_gotovo{
        font-size: 4vw;
    }

    .cvetok1{
        width: 24%;
        margin-left: 71%;
        margin-top: -10%;
    }

    .flower1_vaze{
        width: 45%;
        margin-left: 20%;
        margin-top: 80%;
    }
    .flower2_vaze{
        width: 45%;
        margin-left: 19%;
        margin-top: 60%;
    }
    .flower3_vaze{
        width: 25%;
        margin-left: 40%;
        margin-top: 60%;
    }

    .compoz{
        display: none;
        width: 37%;
        margin-top: 1%;
    }
    .text_compoz{
        font-size: 4vw;
    }
}
@media screen and (min-width: 360px)and (max-width: 413px){ 
    .background{
        height: 240.5vw;
        margin-top: -2.2%;
        margin-left: -2.2%;
        width: 102.5%;
    }
    #box{
        height: 134%;
        width: 98%;
    }
    .shroom{
        width: 153%;
        margin-left: -20%;
        margin-top: -1%;
    }
    .initeal{
        font-size: 4vw;
        margin-left: 4%;
    }
    .tea_zvuka{
        font-size: 4vw;
        margin-left:4%;
        margin-top: 10%;
    }
    .text_end{
        z-index: 1;
        font-size: 4vw;
        margin-top: 223%;
    }

    .white_tea, .green_tea, .black_tea{
        display: none;
    }

    .leaf1{
        overflow: hidden;
     width: 50%;
     margin-top: 10%;
    }
    .leaf2{
        overflow: hidden;
        width: 50%;
        margin-left: 6%;
        top: 10%;
    }
    .leaf3{
        overflow: hidden;
        width: 38%;
        top: 20%;
    }


    .teapot{
        overflow: hidden;
        height: 34%;
        width: 90%;
        margin-top: 170%;
        margin-left: 3%;
    }

    .teapot_crishka{
     width: 66%;
     margin-left: 31%;
     margin-top: 163.8%;

    }

    .par{
        margin-left: 40%;
        margin-top: 184%;
    }
    

    .back1_2{
        overflow-x: hidden;
        height: 220vw;
        margin-top: -7.5%;
        width: 102.5%;
        margin-left: -2.5%;
        
    }
    .background_2{
        overflow: hidden;
        width: 259%;
       rotate: 90deg;
       margin-left: -39%;
    }
    
    .piramidka{
        margin-top: 32%;
        width: 80%;
        margin-left: 15%;
    }

    .piramidka_1{
        width: 90%;
    }
    
    .cup1{
        margin-top: 114%;
        width: 58%;
        margin-left: 30%;
    }
    .cup3{
        width: 65%;
        margin-top: 27%;
        margin-left: 14%;
    }

    .cup2{
        width: 49%;
        margin-top: 67%;
        margin-left: 35%;
    }

    .cup4{
        width: 50%;
        margin-top:84%;
        margin-left: 20%;
    }

    .cvetok1{
        width: 90%;
        margin-left: 77%;
        margin-top:-5%;
    }
    
    .struni_back2{
        overflow: hidden;
        height: 184.9vw;
        width: 102.5%;
        margin-left: -2.5%;
        
    }
    .struni_back_2{
        overflow: hidden;
        width: 205%;
        margin-left: -42%;
    }

    .struni_back1{
        height: 100vw;
        width: 102.5%;
        overflow: hidden;
        margin-left: -2.5%;
        
    }
    .struni_back_1{
        margin-top: -35%;
        width: 150%;
        margin-left: -12%;
    }
    
    .struna_1{
        width: 160%;
        margin-top: 45%;
        margin-left: -35%;
        rotate: 90deg;
    }
    
    .krug1{
        margin-top: 10%;
        margin-left: 16%;
        width: 8vw;
        height: 8vw;
        
    
    }
    .krug2{
        margin-top: 10%;
        margin-left: 34%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug3{
        margin-top: 10%;
        margin-left: 53%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug4{
        margin-top: 10%;
        margin-left: 72%;
        width: 8vw;
        height: 8vw;
    }
    
    
    .krug5{
        margin-top: 168%;
        margin-left: 16%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug6{
        margin-top: 168%;
        margin-left: 34%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug7{
        margin-top: 168%;
        margin-left: 53%;
        width: 8vw;
        height: 8vw;
        
    }
    
    .krug8{
        margin-top: 168%;
        margin-left: 72%;
        width: 8vw;
        height: 8vw;
    }

    .cvetok2{
        width: 24%;
        margin-left: 71%;
        margin-top: -7%;
    }
    
    .back4{
        margin-top: -7.5%;
        margin-left: -2.5%;
        height: 210.7vw;
        width: 102.5%;
    }

    .back4_1{
        width: 315%;
        margin-left: -40%;
       
    }

    .cvetok3{
        width: 24%;
        margin-left: 71%;
        margin-top:-6%;
    }
    
    .vaze{
        margin-top: 100%;
        width: 88%;
        margin-left: 7%;
    }

    .soberi{
        width: 58%;
        margin-top: -8%;
    }

    .text_soberi{
        font-size: 4vw;
    }

    .gotovo{
        margin-top: 9%;
        width: 20%;
    }

    .spasibo{
        width: 34%;
        margin-top: -8%;
    }

    .text_spasibo{
        font-size: 4vw;
    }

    .text_gotovo{
        font-size: 4vw;
    }

    .cvetok1{
        width: 24%;
        margin-left: 71%;
        margin-top: -10%;
    }

    .flower1_vaze{
        width: 45%;
        margin-left: 20%;
        margin-top: 80%;
    }
    .flower2_vaze{
        width: 45%;
        margin-left: 19%;
        margin-top: 60%;
    }
    .flower3_vaze{
        width: 25%;
        margin-left: 30%;
        margin-top: 60%;
    }

    .compoz{
        display: none;
        width: 37%;
        margin-top: 1%;
    }
    .text_compoz{
        font-size: 4vw;
    } 
}

@media screen and (min-width: 0px)and (max-width: 359px){ 
    .background{
        height: 240.5vw;
        margin-top: -2.2%;
        margin-left: -2.2%;
        width: 102.5%;
    }
    #box{
        height: 134%;
        width: 98%;
    }
    .shroom{
        width: 153%;
        margin-left: -20%;
        margin-top: -1%;
    }
    .initeal{
        font-size: 4vw;
        margin-left: 4%;
    }
    .tea_zvuka{
        font-size: 4vw;
        margin-left:4%;
        margin-top: 10%;
    }
    .text_end{
        z-index: 1;
        font-size: 4vw;
        margin-top: 223%;
    }

    .white_tea, .green_tea, .black_tea{
        display: none;
    }

    .leaf1{
        overflow: hidden;
     width: 50%;
     margin-top: 10%;
    }
    .leaf2{
        overflow: hidden;
        width: 50%;
        margin-left: 6%;
        top: 10%;
    }
    .leaf3{
        overflow: hidden;
        width: 38%;
        top: 20%;
    }


    .teapot{
        overflow: hidden;
        height: 34%;
        width: 90%;
        margin-top: 170%;
        margin-left: 3%;
    }

    .teapot_crishka{
     width: 66%;
     margin-left: 31%;
     margin-top: 163.8%;

    }

    .par{
        margin-left: 40%;
        margin-top: 184%;
    }
    

    .back1_2{
        overflow-x: hidden;
        height: 220vw;
        margin-top: -7.5%;
        width: 102.5%;
        margin-left: -2.5%;
        
    }
    .background_2{
        overflow: hidden;
        width: 259%;
       rotate: 90deg;
       margin-left: -39%;
    }
    
    .piramidka{
        margin-top: 32%;
        width: 80%;
        margin-left: 15%;
    }

    .piramidka_1{
        width: 90%;
    }
    
    .cup1{
        margin-top: 114%;
        width: 58%;
        margin-left: 30%;
    }
    .cup3{
        width: 65%;
        margin-top: 27%;
        margin-left: 14%;
    }

    .cup2{
        width: 49%;
        margin-top: 67%;
        margin-left: 35%;
    }

    .cup4{
        width: 50%;
        margin-top:84%;
        margin-left: 20%;
    }

    .cvetok1{
        width: 90%;
        margin-left: 77%;
        margin-top:-5%;
    }
    
    .struni_back2{
        overflow: hidden;
        height: 184.9vw;
        width: 102.5%;
        margin-left: -2.5%;
        
    }
    .struni_back_2{
        overflow: hidden;
        width: 205%;
        margin-left: -42%;
    }

    .struni_back1{
        height: 100vw;
        width: 102.5%;
        overflow: hidden;
        margin-left: -2.5%;
        
    }
    .struni_back_1{
        margin-top: -35%;
        width: 150%;
        margin-left: -12%;
    }
    
    .struna_1{
        width: 160%;
        margin-top: 45%;
        margin-left: -35%;
        rotate: 90deg;
    }
    
    .krug1{
        margin-top: 10%;
        margin-left: 16%;
        width: 8vw;
        height: 8vw;
        
    
    }
    .krug2{
        margin-top: 10%;
        margin-left: 34%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug3{
        margin-top: 10%;
        margin-left: 53%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug4{
        margin-top: 10%;
        margin-left: 72%;
        width: 8vw;
        height: 8vw;
    }
    
    
    .krug5{
        margin-top: 168%;
        margin-left: 16%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug6{
        margin-top: 168%;
        margin-left: 34%;
        width: 8vw;
        height: 8vw;
    }
    
    .krug7{
        margin-top: 168%;
        margin-left: 53%;
        width: 8vw;
        height: 8vw;
        
    }
    
    .krug8{
        margin-top: 168%;
        margin-left: 72%;
        width: 8vw;
        height: 8vw;
    }

    .cvetok2{
        width: 24%;
        margin-left: 71%;
        margin-top: -7%;
    }
    
    .back4{
        margin-top: -7.5%;
        margin-left: -2.5%;
        height: 210.7vw;
        width: 102.5%;
    }

    .back4_1{
        width: 315%;
        margin-left: -40%;
       
    }

    .cvetok3{
        width: 24%;
        margin-left: 71%;
        margin-top:-6%;
    }
    
    .vaze{
        margin-top: 100%;
        width: 88%;
        margin-left: 7%;
    }

    .soberi{
        width: 58%;
        margin-top: -8%;
    }

    .text_soberi{
        font-size: 4vw;
    }

    .gotovo{
        margin-top: 9%;
        width: 20%;
    }

    .spasibo{
        width: 34%;
        margin-top: -8%;
    }

    .text_spasibo{
        font-size: 4vw;
    }

    .text_gotovo{
        font-size: 4vw;
    }

    .cvetok1{
        width: 24%;
        margin-left: 71%;
        margin-top: -10%;
    }

    .flower1_vaze{
        width: 45%;
        margin-left: 20%;
        margin-top: 80%;
    }
    .flower2_vaze{
        width: 45%;
        margin-left: 19%;
        margin-top: 60%;
    }
    .flower3_vaze{
        width: 25%;
        margin-left: 30%;
        margin-top: 60%;
    }

    .compoz{
        display: none;
        width: 37%;
        margin-top: 1%;
    }
    .text_compoz{
        font-size: 4vw;
    } 
}